<plex-box title="Login">
    <h4 *ngIf="!auth.loggedIn()" class="text-danger">Sesión inactiva</h4>
    <h4 *ngIf="auth.loggedIn()" class="text-success">Sesión activa</h4>
    <plex-text label="Usuario" [(ngModel)]="usuario"></plex-text>
    <plex-text label="Password" [(ngModel)]="password"></plex-text>
    <plex-button label="Login" type="primary" (click)="login()"></plex-button>
</plex-box>


<plex-box title="Permisos" *ngIf="auth.loggedIn()">
    <div *ngFor="let item of auth.permisos; let i = index">
        <pre>{{auth.permisos[i]}}</pre>
    </div>
</plex-box>

<plex-box title="Chequeo dinámico" *ngIf="auth.loggedIn()">
    <plex-text label="Ingrese un permiso para chequear" [(ngModel)]="inputCheck"></plex-text>
    <div class="row" *ngIf="inputCheck">
        <div class="col-md-12">
            <div *ngIf="auth.check(inputCheck)" class="alert alert-success">
                Usted tiene permisos para la operación
            </div>
            <div *ngIf="!auth.check(inputCheck)" class="alert alert-danger">
                Usted no tiene permisos para la operación
            </div>
        </div>
    </div>
</plex-box>

<plex-box title="Obtener permisos" *ngIf="auth.loggedIn()">
    <plex-text label="Ingrese un permiso obtener (utilice los comodines $ y ?)" [(ngModel)]="inputPermissions" (change)="checkPermisos()"></plex-text>
    <div class="row">
        <div class="col-md-12">
            <div *ngFor="let item of permisos; let i = index">
                <pre>{{permisos[i]}}</pre>
            </div>
        </div>
    </div>
</plex-box>